.app-grid-wrapper{
    min-height: calc(100vh - 64px);
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr 3.5fr 2fr;
    background-color: var(--color-background);
}
.app-grid-aside{
    grid-column: 2/3;
}
.app-grid-main{
    grid-column: 4/5;
    border: 2px solid red;
}
@media (max-width:500px) {
    .app-grid-aside{
        display: none;
    }
    .app-grid-main{
        grid-column: 1/6;
        margin: 1rem;
    }
}