@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
:root {
    --font-size: 1.3rem;
    --color-primary: #d54a31;
    --color-secondary: #363334;
    --color-white: #eeeeee;
    --color-background: #e4e4e4;
    --color-black: #000000de; 
    --color-dark-gray: #808080;
    --sans: Tajawal, sans-serif;
    --font-logo: Prompt;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--sans);
    font-size: 16px;
}